@if (pokemon) {
<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="row section">
            <div class="col s6 left-align">
                @if (previousId) {
                <button (click)="goToPrevious()"
                    class="btn waves-effect waves-light btn-nintendo">
                    <i class="material-icons left">chevron_left</i>Précédent
                </button>
                }
            </div>
            <div class="col s6 right-align">
                @if (nextId) {
                <button (click)="goToNext()"
                    class="btn waves-effect waves-light btn-nintendo">
                    Suivant<i class="material-icons right">chevron_right</i>
                </button>
                }
            </div>
        </div>
        <div class="page-header">
            <h2>{{ pokemon.name }}</h2>
        </div>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img [src]="pokemon.picture">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td><strong>{{ pokemon.name}}</strong></td>
                            </tr>
                            <tr>
                                <td>Point de vie</td>
                                <td><strong>{{ pokemon.hp}}</strong></td>
                            </tr>
                            <tr>
                                <td>Dégâts</td>
                                <td><strong>{{ pokemon.cp}}</strong></td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>
                                    @for (type of pokemon.types; track $index) {
                                    <span class="{{ type | pokemonTypeColor }}">{{type}}</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Rareté</td>
                                <td>
                                    <span class="rarity-stars">
                                        @for (r of pokemon.rarity; track $index) {
                                        <pkmn-star [color]="pokemon.rarity | pokemonRarity"></pkmn-star>
                                        }
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Date de création</td>
                                <td><strong>{{ pokemon.created | date: 'dd/MM/yy'}}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 m6 l3 center-align">
                            <button type="button" (click)="goBack()"
                                class="btn waves-effect waves-light btn-nintendo-secondary">
                                <i class="material-icons left">arrow_back</i>Retour
                            </button>
                        </div>
                        <div class="col s12 m6 l3 center-align">
                            <button type="button" (click)="toggleFavorite(pokemon)"
                                class="btn waves-effect waves-light btn-nintendo-yellow">
                                @if (pokemon.isFavorite) {
                                <i class="material-icons left">favorite</i>Retirer 
                                }
                                @else {
                                <i class="material-icons left">favorite</i>Ajouter 
                                }
                            </button>
                        </div>
                        <div class="col s12 m6 l3 center-align">
                            <button type="button" (click)="goEdit(pokemon)"
                                class="btn waves-effect waves-light btn-nintendo-blue">
                                <i class="material-icons">edit</i>
                            </button>
                        </div>
                        <div class="col s12 m6 l3 center-align">
                            <button type="button" (click)="deletePokemon(pokemon)"
                                class="btn waves-effect waves-light btn-nintendo-danger">
                                <i class="material-icons">delete</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}@else{
<p class="center">Pokemon non trouvé</p>
}